In [33]:
import pandas as pd
import datetime
import numpy as np
import seaborn as sns
import matplotlib as plt

%matplotlib inline

d1 = pd.read_csv('Exceedences_of_Cragieburn_Route_16th_3.csv', header=2)
d2 = pd.read_csv('Exceedences_of_Cragieburn_Route_16th_4.csv', header=2)
d3 = pd.read_csv('Exceedences_of_Cragieburn_Route_22nd_7.csv', header=2)
d4 = pd.read_csv('Exceedences_of_Cragieburn_Route_25th_2.csv', header=2)
d5 = pd.read_csv('Exceedences_of_Cranbourne_Route_3rd_1.csv', header=2)
d6 = pd.read_csv('Exceedences_of_Flemington_Route_17th_1.csv', header=2)
d7 = pd.read_csv('Exceedences_of_Frankston_Route_28th_10.csv', header=2)
d8 = pd.read_csv('Exceedences_of_Frankston_Route_28th_8.csv', header=2)
d9 = pd.read_csv('Exceedences_of_Frankston_Route_29th_2.csv', header=2)
d10 = pd.read_csv('Exceedences_of_Packenham_Route_3rd_2.csv', header=2)
d11 = pd.read_csv('Exceedences_of_Sandringham_Route_23rd_5.csv', header=2)
d12 = pd.read_csv('Exceedences_of_Sandringham_Route_23rd_6.csv', header=2)
d13 = pd.read_csv('Exceedences_of_Sunbury_Route_22nd_6.csv', header=2)
d14 = pd.read_csv('Exceedences_of_Sunbury_Route_25th_1.csv', header=2)
d15 = pd.read_csv('Exceedences_of_Sunbury_Route_25th_4.csv', header=2)
d16 = pd.read_csv('Exceedences_of_Sunbury_Route_26th_2.csv', header=2)
d17 = pd.read_csv('Exceedences_of_Werribee_Route_23rd_2.csv', header=2)
d18 = pd.read_csv('Exceedences_of_Werribee_Route_28th_11.csv', header=2)
d19 = pd.read_csv('Exceedences_of_Werribee_Route_29th_1.csv', header=2)
d20 = pd.read_csv('Exceedences_of_Werribee_Route_29th_3.csv', header=2)


d1["Route"] = "Cragieburn"
d2['Route'] = 'Cragieburn'
d3['Route'] = 'Cragieburn'
d4['Route'] = 'Cragieburn'
d5['Route'] = 'Cranbourne'
d6['Route'] = 'Flemington'
d7['Route'] = 'Frankston'
d8['Route'] = 'Frankston'
d9['Route'] = 'Frankston'
d10['Route'] = 'Packenham'
d11['Route'] = 'Sandringham'
d12['Route'] = 'Sandringham'
d13['Route'] = 'Sunbury'
d14['Route'] = 'Sunbury'
d15['Route'] = 'Sunbury'
d16['Route'] = 'Sunbury'
d17['Route'] = 'Werribee'
d18['Route'] = 'Werribee'
d19['Route'] = 'Werribee'
d20['Route'] = 'Werribee'


frames = [d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12, d13, d14, d15, d16, d17, d18, d19, d20]

exceedanceData = pd.concat(frames)

In [34]:
exceedanceData.head()

,Latitude,Longitude,Analysis Type,Accelerometer Location,Direction,Value,Frequency(Hz),Time,Speed,Route
0,-37.624352,144.938279,Fourier Analysis,Bogie 1,Vertical,0.247912,9.765625,106.09,113.340999,Cragieburn
1,-37.653879,144.929572,Fourier Analysis,Bogie 1,Vertical,0.204691,10.156250,275.05,100.560101,Cragieburn
2,-37.618817,144.939400,Fourier Analysis,Bogie 2,Vertical,0.223668,10.156250,85.61,105.210368,Cragieburn
3,-37.624352,144.938279,Fourier Analysis,Bogie 2,Vertical,0.292309,9.765625,106.09,113.340999,Cragieburn
4,-37.653879,144.929572,Fourier Analysis,Bogie 2,Vertical,0.284281,10.156250,275.05,100.560101,Cragieburn

In [35]:
exceedanceData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 0 to 279
Data columns (total 10 columns):
Latitude                  1238 non-null float64
Longitude                 1238 non-null float64
Analysis Type             1238 non-null object
Accelerometer Location    1238 non-null object
Direction                 1238 non-null object
Value                     1238 non-null float64
Frequency(Hz)             217 non-null float64
Time                      1238 non-null float64
Speed                     1238 non-null float64
Route                     1238 non-null object
dtypes: float64(6), object(4)
memory usage: 106.4+ KB

In [36]:
stationData = pd.read_csv('Railway_Station_Melbourne.csv', header=4  )
stationData.head()

    Longitude   Latitude        Station Name
0  144.760748 -37.866677    Aircraft Station
1  145.080039 -37.868638  Alamein    Station
2  144.824215 -37.777100      Albion Station
3  144.830013 -37.867006      Altona Station
4  144.800427 -37.782740      Ardeer Station

In [37]:
stationData.Latitude[0]

-37.866677000000003

In [38]:
stationData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 0 to 122
Data columns (total 3 columns):
Longitude       123 non-null float64
Latitude        123 non-null float64
Station Name    123 non-null object
dtypes: float64(2), object(1)
memory usage: 3.8+ KB

In [39]:
import math

def distanceCalc (excLon, excLat, stationLon, stationLat):   
    return math.sqrt(math.pow(stationLat-excLat,2)+math.pow(stationLon-excLon,2))

In [40]:
listNearestStations = []

for idx1, row1 in exceedanceData.iterrows():
    x = row1.Longitude
    y = row1.Latitude
    tempDistanceLst = []
    
    for idx2, row2 in stationData.iterrows():
        tempDistanceLst.append(distanceCalc(x, y, row2.Longitude, row2.Latitude))
    
    listNearestStations.append(stationData['Station Name'][tempDistanceLst.index(min(tempDistanceLst))])
    

exceedanceData['Nearest Station'] = listNearestStations
exceedanceData['Exceedence Instance'] = 1

In [41]:
print exceedanceData.head()

    Latitude   Longitude     Analysis Type Accelerometer Location Direction  \
0 -37.624352  144.938279  Fourier Analysis                Bogie 1  Vertical
1 -37.653879  144.929572  Fourier Analysis                Bogie 1  Vertical
2 -37.618817  144.939400  Fourier Analysis                Bogie 2  Vertical
3 -37.624352  144.938279  Fourier Analysis                Bogie 2  Vertical
4 -37.653879  144.929572  Fourier Analysis                Bogie 2  Vertical

      Value  Frequency(Hz)    Time       Speed       Route  \
0  0.247912       9.765625  106.09  113.340999  Cragieburn
1  0.204691      10.156250  275.05  100.560101  Cragieburn
2  0.223668      10.156250   85.61  105.210368  Cragieburn
3  0.292309       9.765625  106.09  113.340999  Cragieburn
4  0.284281      10.156250  275.05  100.560101  Cragieburn

        Nearest Station  Exceedence Instance
0   Craigieburn Station                    1
1  Broadmeadows Station                    1
2   Craigieburn Station                    1
3   Craigieburn Station                    1
4  Broadmeadows Station                    1

In [42]:
exceedanceData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 0 to 279
Data columns (total 12 columns):
Latitude                  1238 non-null float64
Longitude                 1238 non-null float64
Analysis Type             1238 non-null object
Accelerometer Location    1238 non-null object
Direction                 1238 non-null object
Value                     1238 non-null float64
Frequency(Hz)             217 non-null float64
Time                      1238 non-null float64
Speed                     1238 non-null float64
Route                     1238 non-null object
Nearest Station           1238 non-null object
Exceedence Instance       1238 non-null int64
dtypes: float64(6), int64(1), object(5)
memory usage: 125.7+ KB

In [43]:
exceedanceData.to_csv('exceedancesLHR.csv', sep='\t')